{% extends "base.html" %}
{% load static %}
{% block content  %}
<style>
	.profile-pi{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}

        .blogpic{
		max-width: 500px;
		max-height:500px;
		margin:auto;
		border-radius: 70%;
	}
</style>

<br>
<div class="row">
	<div class="col-md-3">
		<div class="card card-body">
			<a class="btn btn-warning" href="{% url 'home' %}"> &#8592; Back to Profile</a>
			<hr>
			<h3 style="text-align: center">Account Settings</h3>
			<hr>
            {% if user.appuser.profile_pic %}
			<img class="profile-pi" src="{{request.user.appuser.profile_pic.url}}" >
            {% endif %}

		</div>
	</div>
	<div class="col-md-9">
		<div class="card card-body">

			<form method="POST" action="" enctype="multipart/form-data">
				{% csrf_token %}
				{{form.as_p}}

			<input class="btn btn-primary" type="submit" name="Update Information">
			</form>
            <p>no of post == {{ request.user.appuser.getnumberofpost }}<a href=/userpost> your posts</a> </p>
            <p>no of likes given== {{ request.user.appuser.get_likes_given_no }}</p>
              <p>no of likes given== {{ request.user.appuser.get_likes_revived_no }}</p>

		</div>
	</div>



</div>




{% endblock %}
